<footer class="app-footer">
    <span class="copy">
        © Universidad de las Fuerzas Armadas ESPE 2024. Todos los derechos reservados.
    </span>
    <ul class="social-items">
        <li>
            <a href="https://www.facebook.com/" target="_blank">
                <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
        </li>
    </ul>
</footer>
