.breadcrumb {
    background-color: #fff;
    padding: 0.85rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);

    .items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            line-height: 1rem;

            .separator {
                margin: 0 0.5rem;
                color: #333;
            }

            .route {
                font-size: 0.875rem;

                &.link {
                    @apply text-emerald-500;
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                &.text {
                    @apply text-slate-400;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }
}
